alembic
aniso8601
annotated-types
anyio
appdirs
asgiref
attrs
backcall
bcrypt
beautifulsoup4
blinker
bs4
certifi
chardet
charset-normalizer
click
colorama
cryptography
cupshelpers
dbus-python
decorator
defer
defusedxml
distlib
distro
distro-info
Django
django-crispy-forms
entrypoints
exceptiongroup
Faker
fastapi
filelock
flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
flask-restplus
flask-restx
flask-sqlalchemy
flask-swagger-ui
gevent
greenlet
gunicorn
h11
honcho
httpie
httplib2
idna
importlib-metadata
importlib-resources
iniconfig
ipdb
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
Mako
markdown-it-py
MarkupSafe
mdurl
more-itertools
multidict
mysql-connector-python
netifaces
oauthlib
olefile
packaging
parso
pexpect
pickleshare
Pillow
pipenv
pkgutil-resolve-name
platformdirs
pluggy
prompt-toolkit
protobuf
psycopg2-binary
pycairo
pycups
pydantic
pydantic-core
Pygments
PyGObject
PyInputPlus
PyJWT
pymacaroons
PyNaCl
pyRFC3339
pyrsistent
PySimpleValidate
PySocks
pytest
python-apt
python-dateutil
python-debian
python-decouple
python-distutils-extra
pytz
pyxdg
PyYAML
redis
referencing
reportlab
requests
requests-toolbelt
requests-unixsocket
rich
rpds-py
SecretStorage
simplejson
six
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-serializer
sqlparse
starlette
stdiomask
systemd-python
tomli
traitlets
typing-extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
uvicorn
virtualenv
virtualenv-clone
wadllib
wcwidth
werkzeug
xkit
zipp
zope.event
zope.interface
